@charset "utf-8";

/* =======================================

CSS BrowserReset BaseElements

(C)BLACKFLAG.NET ALL RIGHTS RESERVED.
http://black-flag.net/

 ======================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,figure,figcaption,pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

html {
	font-size: 75%;
	-webkit-text-size-adjust: none;
}

img {
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

a {
	color: inherit;
	text-decoration:none;
	-webkit-tap-highlight-color: transparent;
}

strong {
	font-weight: bold;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;/*	border-collapse: separate;*/
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
	overflow: hidden;
}

option {
	padding-right: 10px;
}


main {
	display: block;
}

button {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	font: inherit;
	color: inherit;
	line-height: inherit;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:focus {
	outline: none;
}

/* ------------------------------
HTML5 ELEMENTS
------------------------------ */
header, article, aside, section, footer, nav, menu, details, hgroup, summary {
	display: block;
}
/*---------------------------------------
スマホ・ボタンCSSのリセット
---------------------------------------*/
input[type="submit"], input[type="button"] {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration {
	display: none;
}

input[type="submit"]::focus, input[type="button"]::focus {
	outline-offset: -2px;
}