// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.site-map{
    &__inner{
        padding: 80px 0;
    }
    &__title{
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
    &__item{
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px 0;
            border-bottom: 1px solid #cccccc;
            i{
                font-size: 1.4rem;
                font-weight: 500;
            }
            span{
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
    }
}

// ==============================
// SP
// ==============================
@include sp{
    .site-map{
        &__inner{
            padding: 50px 0;
        }
        &__title{
            font-size: 2.4rem;
            margin-bottom: 10px;
        }
        &__item{
            a{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 15px 0;
                i, span{
                    font-size: 1.5rem;
                }
            }
        }
    }
}