/* 設定 */
$main: #e1974f;
$sub:  #dedac0;
$bg: #f5f4eb;

$bp-sp: 600px;
$bp-tab: 820px;
$bp-pc: 1200px;

@mixin sp  { @media (max-width: $bp-sp)  { @content; } }
@mixin tab { @media (max-width: $bp-tab) { @content; } }
@mixin pc  { @media (max-width: $bp-pc)  { @content; } }