@use "config"as *;

/* 固定ページスタイルシート */


/* =================================
会社概要
 ================================= */

.page-comapny {

  &__ttl {
    margin: 0 0 24px;
  }

  &__table-wrap {
    width: min(1200px, 100%);
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 16px 24px;
      vertical-align: middle;
      border-top: 1px solid #8a8277;
      color: #3f3a33;
      line-height: 1.8;

      @include sp {
        border-top: none;
      }
    }

    th {
      width: 220px;
      background: #e9e6db;
      font-weight: 700;
      text-align: left;
    }


    tr:first-child th,
    tr:first-child td {
      border-top: none;
    }

    /* SP */
    @include tab {

      th,
      td {
        display: block;
        width: 100%;
        padding: 12px;
      }

      th {
        border-top: 1px solid #d6d0c3;
      }
    }
  }

  /* 住所 */
  &__address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 0 16px;
    color: #725c52;


    @include tab {
      margin-bottom: 18px;
    }
  }

  &__address-text {
    font-size: 22px;
    font-weight: 600;

    @include tab{
    font-size: 18px;
    }

  }

  &__address-icon {
    width: 14px;
    height: auto;
  }

  &__map-wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 7;
    overflow: hidden;
    border-radius: 40px;

    @include tab {
      border-radius: 16px;
    }

    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}