@use "config"as *;

/* 固定ページスタイルシート */


/* =================================
会社概要
 ================================= */

.page-comapny {

  &__ttl {
    margin: 0 0 24px;
  }

  &__table-wrap {
    width: min(1200px, 100%);
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 16px 24px;
      vertical-align: middle;
      border-top: 1px solid #8a8277;
      color: #3f3a33;
      line-height: 1.8;

      @include sp {
        border-top: none;
      }
    }

    th {
      width: 220px;
      background: #e9e6db;
      font-weight: 700;
      text-align: left;
    }


    tr:first-child th,
    tr:first-child td {
      border-top: none;
    }

    /* SP */
    @include tab {

      th,
      td {
        display: block;
        width: 100%;
        padding: 12px;
      }

      th {
        border-top: 1px solid #d6d0c3;
      }
    }
  }

  /* 住所 */
  &__address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 0 16px;
    color: #725c52;


    @include tab {
      margin-bottom: 18px;
    }
  }

  &__address-text {
    font-size: 22px;
    font-weight: 600;

    @include tab {
      font-size: 18px;
    }

  }

  &__address-icon {
    width: 14px;
    height: auto;
  }

  &__map-wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 7;
    overflow: hidden;
    border-radius: 40px;

    @include tab {
      border-radius: 16px;
    }

    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}

/* =================================
私たちについて
 ================================= */

.page-about {

  &__ttl {
    margin: 0 0 24px;
  }

  &__philosophy {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    margin: 0 0 80px;

    @include tab {
      flex-direction: column-reverse;
      gap: 24px;
      margin: 0 0 40px;
    }
  }

  &__philosophy-img {
    flex: 0 0 50vw; // 画面幅の半分
    margin-left: calc(50% - 50vw); // ← 画面左端まで引っ張る
    border-radius: 0 40px 40px 0;
    overflow: hidden;

    @include tab {
      flex: 0 0 70vw; // 画面幅の半分
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      display: block;
    }

  }

  &__philosophy-content {
    flex: 1;
    padding-top: 24px;
  }

  &__philosophy__ttl {
    margin: 0 0 12px;
  }

  &__philosophy-lead {
    font-size: 20px;
    margin: 0 0 12px;
  }

  &__text {
    margin: 0 0 12px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__message {}


  &__message-item {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 40px 0;
    border-bottom: #d6d0c3 dotted 1px;

    &:last-of-type {
      border-bottom: none;
      padding: 24px 0;

    }

    &--reverse {
      flex-direction: row-reverse;
    }

    @include tab {
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

  &__message-img {
    flex: 1;

    img {
      border-radius: 40px;
    }
  }

  &__message-content {
    max-width: 650px;
  }

  &__message-ttl-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 0 24px;

    @include tab {
      justify-content: center;
      margin: 0 0 12px;

    }
  }

  &__message-num {
    width: 100px;

    @include tab {
      width: 70px;
    }
  }

  &__message-lead {
    font-size: 28px;
    font-weight: 900;
    color: #463f3c;
    line-height: 1.4;

    @include tab {
      font-size: 20px;
    }

  }

  &__knowledge {
    background-color: #fff;
    padding: 20px;
    border-radius: 24px;
    margin: 24px 0 0;
  }

  &__knowledge-ttl {
    display: flex;
    gap: 8px;
    font-size: 17px;
    color: #725c52;
    font-weight: 700;
    margin: 0 0 12px;

  }

  &__knowledge-icon {
    width: 16px;
  }

  &__knowledge-span {
    color: $main;
    border-bottom: 2px solid $main;
  }

  &__ {}
}

/* =================================
代表紹介
 ================================= */

.page-introduce {

  &__ttl {
    margin: 0 0 24px;
  }


  &__text {
    margin: 0 0 12px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__message {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px;
    }
  }


  &__message-item {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 40px 0;
    border-bottom: #d6d0c3 dotted 1px;

    &:last-of-type {
      border-bottom: none;
      padding: 24px 0;

    }

    &--reverse {
      flex-direction: row-reverse;
    }

    @include tab {
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
    }
  }

  &__message-img {
    flex: 1;

    img {
      border-radius: 40px;
    }
  }

  &__message-content {
    width: 600px;

    @include pc {
      width: 480px;
    }

    @include tab {
      width: 100%;
      max-width: 500px;
    }
  }

  &__message-ttl-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 0 24px;

    @include tab {
      justify-content: center;
      margin: 0 0 12px;
      flex-direction: column;

    }
  }

  &__message-lead {
    font-size: 20px;
    color: #463f3c;
    line-height: 1.4;
    font-weight: 100;
    white-space: nowrap;

    @include tab {}

  }


  &__profile {}

  &__profile-ttl {
    margin: 0 0 24px;
  }

  &__profile-box {
    display: flex;
    gap: 40px;
    align-items: flex-start;

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }

  &__profile-img {
    flex: 1;

    img {
      border-radius: 40px;

      @include tab {
        border-radius: 24px;
      }
    }
  }

  &__profile-content {
    width: 650px;
    background-color: #fff;
    padding: 24px;
    border-radius: 40px;

    @include pc {
      width: 550px;
    }

    @include tab {
      width: 100%;
      border-radius: 24px;
    }
  }

  &__profile-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 16px;

    @include tab {
      font-size: 20px;
    }
  }

  &__profile-span {
    display: inline-block;
    color: $main;
    font-size: 15px;
    border-bottom: $main 2px solid;
    margin: 0 16px 0 0;
    padding: 0 0 4px;

    @include tab {
      font-size: 13px;
    }

  }

  &__profile-content-ttl {
    background-color: #f1eedd;
    padding: 2px 16px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 16px;
  }
}

/* =================================
ご依頼の流れ
 ================================= */

.page-flow {

  &__ttl {
    margin: 0 0 24px;
  }


  &__text {
    margin: 0 0 12px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__item {
    position: relative;
    display: flex;
    gap: 32px;
    align-items: flex-start;
    background: #fff;
    border-radius: 32px;
    padding: 24px;

    &+& {
      margin-top: 60px;
    }

    /* ▼ 下の△（最後の要素以外） */
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-top: 18px solid #e8cf86; // △の色
    }

    @include tab {
      flex-direction: column;
      gap: 16px;
      padding: 18px 18px;
      border-radius: 24px;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__img {
    flex: 0 0 260px;
    border-radius: 32px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      display: block;
    }

    @include tab {
      flex: none;
      width: 100%;
      border-radius: 18px;

      img {
        aspect-ratio: 16 / 10;
      }
    }
  }

  &__content {
    flex: 1;

    @include tab {
      width: 100%;
    }
  }

  &__item-ttl {
    font-size: 28px;
    font-weight: 700;
    color: #6b6258;
    display: flex;
    align-items: baseline;
    gap: 10px;
    white-space: nowrap;
    border-bottom: #d6d0c3 1px dotted;
    margin: 0 0 12px;

    @include pc {
      flex-direction: column;
      gap: 0px;
    }

    @include tab {
      font-size: 20px;

    }
  }

  &__step {
    font-size: 20px;
    color: $main;
    letter-spacing: 0.08em;
    font-weight: 600;

  }

  &__step-num {
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
  }

  &__contact-ttl {
    background-color: #f1eedd;
    padding: 2px 16px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 16px;
  }

  &__text {
    font-size: 15px;
    line-height: 1.9;
    color: #6b6258;
  }

  &__contact-wrap {
    display: flex;
    gap: 24px;
    align-items: center;

    @include pc {
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
    }

    @include tab {
      align-items: center;
    }
  }

  &__tel {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

  }

  &__tel-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  &__tel-icon {
    width: 14px;
  }

  &__tel-num {
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
  }

  &__tel-note {
    font-size: 11px;
    white-space: nowrap;
  }

  &__tel-span {
    display: inline-block;
    background-color: #e1dfd2;
    padding: 2px 4px;
    line-height: 1;
    margin: 0 6px 0 0;
  }

  &__ctas {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 0 24px;

    @include sp {
      flex-direction: column;
      align-items: center;
      gap: 12px;

    }
  }

  &__cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 14px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    width: 170px;
    height: 50px;

    @include tab {
      height: 50px;
    }

    &--mail {
      background: $main;
    }

    &--line {
      background: #eacc7a;
    }
  }

  &__cta-icon {
    width: 18px;
    height: auto;
  }
}

/* =================================
事業内容
 ================================= */

.page-service {

  &__lead-wrap {
    padding: 80px 16px 40px;
    max-width: 1200px;
    margin: 0 auto;

    @include tab {
      padding: 40px 16px 40px;
    }
  }

  &__ttl {
    margin: 0 0 24px;
  }

  &__top-img {
    margin: 0 0 24px;

    img {
      border-radius: 40px;

      @include tab{
      border-radius: 24px;
      }
    }
  }

  &__top-text {
    text-align: center;
    margin: 0 0 24px;

    &:last-of-type {
      margin: 0;
    }

    @include tab {
      text-align: left;
    }
  }

  &__content {
    padding: 60px 16px;
    background-color: #f1eedd;

    @include tab {
      padding: 80px 16px 40px;

    }
  }

  &__content-ttl-wrap {
    text-align: center;
    margin: 0 0 40px;

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__content-ttl {
    color: #463f3c;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 1.5;
    position: relative;

    @include tab {
      font-size: 18px;
    }
  }

  &__top-illust {
    position: absolute;
    width: 140px;
    top: -30px;
    left: -169px;

    @include tab {
      width: 100px;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--bottom {
      width: 110px;
      top: -30px;
      right: -139px;
      left: auto;

      @include tab {
        width: 70px;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__item-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;

    @include tab {
      flex-direction: column;
      align-items: center;
    }

  }


  &__item {
    display: flex;
    gap: 22px;
    align-items: center;
    background: #fff;
    border-radius: 36px;
    padding: 26px 28px;
    width: calc((100% - 28px) / 2);
    min-height: 200px;

    @include tab {
      width: 100%;
      border-radius: 24px;
      padding: 18px;
      gap: 16px;
      flex-direction: column;
      max-width: 400px;
    }
  }

  &__icon {
    flex: 0 0 120px;

    @include tab {
      width: 80px;
      flex: 0 0 80px;
    }
  }

  &__body {
    flex: 1;
    min-width: 0; // 長文のはみ出し防止
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

    @include tab {
      justify-content: center;
    }
  }

  &__item-ttl {
    font-size: 20px;
    font-weight: 700;
    color: #6b6258;
    margin: 0;

    @include tab {
      font-size: 18px;
    }
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    border-radius: 999px;
    background: $main;
    color: #fff;
    font-size: 14px;
    line-height: 1;

    @include tab {
      font-size: 11px;
      padding: 4px 9px;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background: #d9d0c2;
    margin: 10px 0 12px;

    @include tab {
      margin: 6px 0 8px;
    }
  }



  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


  &__text {
    margin: 0 0 12px;

    &:last-of-type {
      margin: 0;
    }
  }
}