@use "config"as *;

/* 下層ページ共有スタイルシート */


/* =================================
下層ページ共通
 ================================= */

.subpage {

  &__main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px;

    @include tab{
    padding: 40px 16px;
    }
  }
}

//  下層トップ
.subpage-top {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 800px;
    padding: 40px;
    border-radius: 24px;

    @include pc {
      width: 600px;
      padding: 12px;
      border-radius: 24px;
    }

    @include tab {
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 40px 0 0;
    }

    @include sp {
      padding: 12px;
    }
  }

  &__en {
    color: $sub;
    font-size: 16px;

    @include tab {
      font-size: 14px;
    }
  }

  &__ttl {
    color: #de832b;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.3rem;
    line-height: 1.2;

    @include tab {
      font-size: 20px;
      letter-spacing: 0.2rem;
      line-height: 1.2;


    }
  }
}

.subpage-section-ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #dedac0;
  padding: 0 0 12px;

  &.left {
    align-items: flex-start;
  }


  &__en {
    color: $main;
    font-size: 16px;

    @include tab {
      font-size: 14px;
    }
  }

  &__ttl {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.3rem;
    line-height: 1;
    color: #725c52;

    @include tab {
      font-size: 20px;
      letter-spacing: 0.2rem;
      line-height: 1.2;


    }
  }
}

/* =========================
   パンくずリスト
========================= */
.breadcrumbs-wrap {
  background-color: $bg;

  &--white {
    background-color: #fff;
  }

  &__content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 12px 12px 0;
    font-size: 11px;
  }
}