@use "config"as *;

/* トップページスタイルシート */

/* =================================
パーツ
 ================================= */
.top-section-ttl {
  
  &__ttl {
    font-family: "Google Sans Flex", sans-serif;
    color: $main;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1;

    @include tab {
      font-size: 34px;
    }

    &--s {
      font-size: 54px;

      @include tab {
        font-size: 34px;
      }
    }
  }

  &__jp {
    font-size: 13px;
    border-bottom: 1px solid #463f3c;
    padding: 0 2px 2px;

    @include tab {
      font-size: 12px;
      padding: 0 0 2px;
    }
  }
}

// ボタン
.top-btn-style {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 12px 40px;
  border-radius: 999px;
  background-color: $main;
  color: #fff;
  letter-spacing: 0.06em;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  @include tab{
    padding: 10px 32px;
    font-size: 14px;

  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.16);
  }

  &:active {
    transform: translateY(0);
  }

  &__text {
    line-height: 1;
    white-space: nowrap;
  }

  &__icon {
    width: 19px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
  }
}



/* =================================
メインビジュアル
 ================================= */

.main-visual {
  background-image: url(../img/top/main-visual-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 0 0 80px;

  @include tab {
    padding: 40px 0;
  }


  &__inner {
    background-image: url(../img/top/main-visual-inner-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 0 16px;

    @include tab {
      flex-direction: column;
      background-position: top right;

    }
  }

  &__left {
    max-width: 560px;
    margin: 60px -80px 0 0;
    z-index: 10;

    @include tab {
      margin: 0;
    }
  }

  &__lead {
    margin: 0 0 24px 0;
  }

  &__text {
    padding: 0 0 0 12px;
  }

  &__right {
    flex: 1;
    padding: 40px 0 0;
  }

  &__right-img {
    border-radius: 40px;

    @include tab {
      border-radius: 24px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}
}


/* =====================================
   イベント
===================================== */
.top-event {
  background-image: url(../img/top/top-event-bg.png);
  background-size: cover;
  padding: 80px 16px;

  @include tab {
    padding: 80px 16px 40px;

  }

  &__content {
    background-color: $bg;
    max-width: 1120px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 60px 0;

    @include tab {
      border-radius: 24px;
    }
  }

  &__ttl-wrap {
    margin: -130px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @include tab {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin: -130px 0 0;
    }
  }

  &__ttl {
    background-color: $bg;
    padding: 24px 32px;
    border-radius: 32px 32px 0 0;

    @include tab {
      border-radius: 20px 20px 0 0;
      padding: 16px 20px;

    }
  }

  &__lead {
    margin: 14px 0 0;

    @include tab {
      padding: 0 20px;
      margin: 0;
    }
  }

  &__article-wrap {
    padding: 0 40px;

    @include tab {
      padding: 16px;
      margin: 0;
    }
  }

  &__ {}


}

/* =====================================
   私たちについて
===================================== */
.top-about {
  background-image: url(../img/top/top-about-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  padding: 80px 16px;

  @include tab {
    padding: 40px 16px;
  }

  &__content {
    background-image: url(../img/top/top-about-content-bg.png);
    background-position: right 140px top 40px;
    background-repeat: no-repeat;
    background-size: 40%;

    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include tab {
      border-radius: 24px;
      flex-wrap: wrap;
      background-position: right 0 bottom 0;
      background-size: 70%;


    }
  }

  &__left {
    flex: 1;

    @include tab {
      flex: auto;
      width: 90%;
    }
  }

  &__lead {
    width: 76px;
    margin: 0 0 0 -20px;

    @include pc {
      width: 60px;
    }

    @include sp {
      width: 50px;
      margin: 0 0 0 -40px;

    }
  }

  &__right {
    max-width: 400px;
    margin: 0 0 0 40px;

    @include tab {
      width: 100%;
      margin: 32px 0 0 40px;
      max-width: 100%;
    }

    @include sp{
      margin: 32px 0 0 0;
    }
  }

  &__ttl {
    margin: 0 0 32px;
  }

  &__text-wrap {
    margin: 0 0 40px;
  }

  &__text {
    margin: 0 0 16px;
  }

  &__btn {

    @include tab{
    text-align: center;
    }
  }

  &__ {}
}