@use "config"as *;

/* トップページスタイルシート */

/* =================================
パーツ
 ================================= */
.top-section-ttl {

  &.center {
    text-align: center;
  }

  &.row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__ttl {
    font-family: "Google Sans Flex", sans-serif;
    color: #de832b;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1;

    @include tab {
      font-size: 34px;
    }

    &--s {
      font-size: 54px;

      @include tab {
        font-size: 34px;
      }
    }

    &--w {
      color: #fff;
    }
  }

  &__jp {
    font-size: 13px;
    border-bottom: 1px solid #463f3c;
    padding: 0 2px 2px;

    @include tab {
      font-size: 12px;
      padding: 0 0 2px;
    }

    &--center {
      text-align: center;
    }
  }
}

// ボタン
.top-btn-style {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 12px 40px;
  border-radius: 999px;
  background-color: $main;
  color: #fff;
  letter-spacing: 0.06em;
  transition: transform 0.2s ease, box-shadow 0.2s ease;



  @include tab {
    padding: 10px 32px;
    font-size: 14px;

  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.16);
  }

  &:active {
    transform: translateY(0);
  }

  &.white {
    background-color: #fff;
    color: $main;
    padding: 12px 12px;


    &:hover {
      transform: translate(-50%, -50%);
      box-shadow: 0 14px 26px rgba(0, 0, 0, 0.16);
    }
  }

  &__text {
    line-height: 1;
    white-space: nowrap;
  }

  &__icon {
    width: 19px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
  }
}



/* =================================
メインビジュアル
 ================================= */

.main-visual {
  background-image: url(../img/top/main-visual-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 0 0 80px;

  @include tab {
    padding: 40px 0;
  }


  &__inner {
    background-image: url(../img/top/main-visual-inner-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 0 16px;

    @include tab {
      flex-direction: column;
      background-position: top right;

    }
  }

  &__left {
    max-width: 560px;
    margin: 60px -80px 0 0;
    z-index: 10;

    @include tab {
      margin: 0;
    }
  }

  &__lead {
    margin: 0 0 24px 0;
  }

  &__text {
    padding: 0 0 0 12px;
  }

  &__right {
    flex: 1;
    padding: 40px 0 0;
  }

  &__right-img {
    border-radius: 40px;

    @include tab {
      border-radius: 24px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}
}


/* =====================================
   イベント
===================================== */
.top-event {
  background-image: url(../img/top/top-event-bg.png);
  background-size: cover;
  padding: 80px 16px;

  @include tab {
    padding: 80px 16px 40px;

  }

  &__content {
    background-color: $bg;
    max-width: 1120px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 54px 0;

    @include tab {
      border-radius: 24px;
      padding: 32px 0;

    }
  }

  &__ttl-wrap {
    margin: -130px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @include tab {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin: -90px 0 0;
    }
  }

  &__ttl {
    background-color: $bg;
    padding: 24px 32px;
    border-radius: 32px 32px 0 0;

    @include tab {
      border-radius: 20px 20px 0 0;
      padding: 16px 20px;

    }
  }

  &__lead {
    margin: 14px 0 0;

    @include tab {
      padding: 0 20px;
      margin: 0;
    }
  }

  &__article-wrap {
    padding: 0 40px;
    position: relative;

    @include tab {
      padding: 16px;
      margin: 0;
    }
  }

  &__illust {
    position: absolute;
    max-width: 260px;
    top: -90px;
    right: 37px;

    @include pc {
      display: none;
    }

    @include tab {
      top: -94px;
    }

    @include sp {
      top: -92px;
    }
  }

  &__link-wrap {
    text-align: right;
    padding: 0 40px;
    margin: 24px 0 0;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 0 2px 4px;
    position: relative;
    border-bottom: 1px solid #463f3c;

    // アイコン
    .top-event__icon {
      width: 20px;
      height: 20px;
    }
  }
}

/* =====================================
   私たちについて
===================================== */
.top-about {
  background-image: url(../img/top/top-about-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  padding: 80px 16px;

  @include tab {
    padding: 40px 16px;
  }

  &__content {
    background-image: url(../img/top/top-about-content-bg.png);
    background-position: right 140px top 40px;
    background-repeat: no-repeat;
    background-size: 40%;

    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include tab {
      border-radius: 24px;
      flex-wrap: wrap;
      background-position: right 0 bottom 0;
      background-size: 70%;


    }
  }

  &__left {
    flex: 1;

    @include tab {
      flex: auto;
      width: 90%;
    }
  }

  &__lead {
    width: 76px;
    margin: 0 0 0 -20px;

    @include pc {
      width: 60px;
    }

    @include sp {
      width: 50px;
      margin: 0 0 0 -40px;

    }
  }

  &__right {
    max-width: 400px;
    margin: 0 0 0 40px;

    @include tab {
      width: 100%;
      margin: 32px 0 0 40px;
      max-width: 100%;
    }

    @include sp {
      margin: 32px 0 0 0;
    }
  }

  &__ttl {
    margin: 0 0 32px;
  }

  &__text-wrap {
    margin: 0 0 40px;
  }

  &__text {
    margin: 0 0 16px;
  }

  &__btn {

    @include tab {
      text-align: center;
    }
  }

  &__ {}
}

/* =====================================
   動画
===================================== */
.top-movie {
  background-image: url(../img/top/top-movie-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 0;


  @include tab {
    padding: 40px 0 0;
  }

  &__inner {
    padding: 0 16px;
  }

  &__ttl {
    margin: 0 0 40px;

    @include tab {
      margin: 0 0 24px;
    }
  }


  &__content {
    max-width: 800px;
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 40px;
    }

    video {
      width: 100%;
      border-radius: 40px;

      @include tab {
        border-radius: 24px;
      }
    }
  }

  &__bottom-img {
    width: 100%;

    img {
      vertical-align: bottom;
    }
  }

  &__jp {
    position: relative;
  }

  &__illust {
    position: absolute;
    width: 88px;
    top: -70px;
    right: -157px;

    @include tab {
      width: 58px;
      top: -45px;
      right: -80px;
    }
  }

}

/* =====================================
   事業内容
===================================== */
.top-service {
  background-image: url(../img/top/top-service-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4%;
    width: 30%;
    height: 92%;
    background: #eacc7a;
    border-radius: 0 48px 48px 0;
    z-index: 0;

    @include sp {
      top: 2%;

    }
  }

  @include tab {
    padding: 60px 0;
  }

  &__item {
    display: flex;
    max-width: 1300px;
    margin: 0 0 60px auto;
    gap: 40px;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    padding: 0 0 0 16px;

    &--reverse {
      margin: 0 auto 60px 0;
      flex-direction: row-reverse;
      padding: 0 16px 0 0;
    }

    @include tab {
      flex-direction: column-reverse;
      padding: 0 0 40px 0;
      align-items: center;
    }
  }

  &__text-wrap {
    max-width: 500px;
    background-color: #fff;
    padding: 24px;
    border-radius: 32px;
    position: relative;

    @include tab {
      margin: 0 16px;
      padding: 18px;

    }
  }

  &__ttl {
    margin: 0 0 24px;
  }

  &__text {
    margin: 0 0 24px;
  }

  &__btn {}

  &__img {
    flex: 1;

    img {
      border-radius: 32px 0 0 32px;
    }

    @include tab {
      margin: 0 0 0 40px;
    }

    &--reverse {
      img {
        border-radius: 0 32px 32px 0;
      }

      @include tab {
        margin: 0 40px 0 0;
      }
    }
  }

  &__illust {
    position: absolute;
    width: 190px;
    bottom: -40px;
    right: 0;

    @include tab {
      width: 100px;
      bottom: 40px;
      right: 10px;
    }

    &--flow {
      width: 300px;
      bottom: -100px;
      right: 20px;

      @include tab {
        width: 100px;
        bottom: 30px;
        right: 20px;
      }
    }
  }

  &__ {}

  &__ {}

  &__ {}



  &__bottom-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

  }

}

/* =====================================
   施工事例
===================================== */
.top-works {
  background-color: $main;
  background-image: url("../img/top/top-works-bg-top.png"), url("../img/top/top-works-bg-bottom.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  padding: 120px 0 160px;
  position: relative;
  overflow: hidden;


  @include tab {
    padding: 20px 0 40px;
    background-image: url("../img/top/top-works-bg-top.png"), url("../img/top/top-works-bg-bottom.png");
    background-size: contain;
  }

  &__ttl-wrap {
    max-width: 1200px;
    margin: 0 auto 40px;
    padding: 0 16px;
  }

  &__lead {
    max-width: 400px;
    position: absolute;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);

    @include pc {
      left: 30%;
    }

    @include tab {
      max-width: 200px;
      left: 30%;
          top: 5%;

    }
  }

  &__link-wrap {
    text-align: center; // 中央配置
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 0 2px 4px;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #fff;

    // アイコン
    .top-works__icon {
      width: 20px;
      height: 20px;
    }
  }

  &__slide-wrap {
    margin: 0 0 40px;

    @include tab {
      margin: 0 0 8px;
    }
  }

  &__jp {
    position: relative;
  }

  &__illust {
  max-width: 240px;
  padding: 0 0 0 24px;

  @include tab{
  max-width: 120px;
    padding: 0 0 0 24px;

  }

  }

}

// slick
.p-slider {
  position: relative;
  overflow: hidden;

  // slickが付ける要素
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    padding: 0 40px;

    @include tab {
      padding: 0 10px;
    }
  }

  // 矢印（画像）
  .slick-prev,
  .slick-next {
    z-index: 10;
    width: 26px;
    height: 26px;
  }

  .slick-prev {
    left: 24px;
  }

  .slick-next {
    right: 24px;
  }

  // slickデフォルト矢印を消す
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }

  // ドット
  .slick-dots {
    li {
      margin: 0;

      button {
        &::before {
          color: #fff;
          font-size: 10px;
          opacity: 1;
        }
      }

      &.slick-active {
        button {
          &::before {
            color: #eacc7a;
            opacity: 1;
          }
        }
      }
    }
  }

  // コンポーネント側
  &__item {
    padding: 0 12px;
  }

  &__img {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 32px;

    @include tab {
      border-radius: 24px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}


/* =====================================
   代表紹介
===================================== */
.top-introduce-wrap {
  background-color: #f5f4eb;
  padding: 80px 0;
  //   background-image: url(../img/top/top-bottom-bg.png);
  //   background-repeat: no-repeat;
  // background-position: right bottom;
  //   background-size: cover;

  @include tab {
    padding: 40px 0;
  }

}

.top-introduce {
  padding: 0 16px;

  &__box {
    display: flex;
    max-width: 1020px;
    margin: 0 auto 80px;
    align-items: flex-start;
    padding: 0 40px 0 0;

    @include pc {
      justify-content: center;
      margin: 0 auto 40px;
      padding: 0;


    }

    @include tab {
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
    }
  }


  &__img {
    margin: -40px -160px 0 0;
    z-index: 1;
    padding: 0 16px;
    flex: 1;

    @include pc {
      margin: -40px -40px 0 0;
      max-width: 300px;
    }

    @include tab {
      margin: 0;
    }


    img {
      border-radius: 40px;

    }
  }


  &__text-wrap {
    background-image: url(../img/top/top-introduce-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 340px auto;
    background-color: #fff;
    padding: 50px 200px;
    border-radius: 32px;
    max-width: 840px;

    @include pc {
      padding: 40px 100px;
    }

    @include tab {
      padding: 18px;
      background-size: 140px auto;


    }
  }

  &__ttl {
    margin: 0 0 24px;
  }

  &__text {
    margin: 0 0 24px;
  }

}

/* =====================================
   コラム・会社案内
===================================== */
.top-column {
  padding: 0 16px;

  &__box {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    gap: 60px;

    @include tab {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }

  &__item {
    position: relative;

    @include tab {
      max-width: 400px;
    }

    img {
      border-radius: 40px;
    }

  }

  &__ttl-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

  }

  &__btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include tab {
      padding: 10px 32px;
      font-size: 14px;

    }
  }

  &__ {}

  &__ {}

}

/* =====================================
   ニュース
===================================== */
.top-news {
  background-color: #eacc7a;
  padding: 80px 16px;

  @include tab {
    padding: 40px 16px;
  }

  &__content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    align-items: center;

    @include tab {
      flex-direction: column;
    }
  }

  &__ttl {
    max-width: 200px;

    @include tab {
      max-width: 160px;
    }
  }

  &__article-wrap {
    flex: 1;
  }

}

