// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.company-info{
    background: url(../img/pages/company/info/bg--leaf.png) no-repeat top 50px left / 25%;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
    }
    &__title{
        margin-bottom: 80px;
    }
    &__definition{
        display: flex;
        flex-direction: column;
        width: 725px;
    }
    &__row{
        display: flex;
        gap: 5%;
        border-bottom: 1px solid #a4b5a4;
        padding: 20px 0;
    }
    &__term{
        width: 18%;
        color: #2D7727;
        font-size: 1.6rem;
        font-weight: 700;
    }
    &__desc{
        width: 77%;
        font-size: 1.6rem;
        font-weight: 700;
    }
    &__map{
        width: 100%;
        height: 450px;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
// ==============================
// SP
// ==============================
@include sp{
    .company-info{
        &__inner{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 40px 0;
        }
        &__title{
            margin-bottom: 35px;
        }
        &__definition{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__row{
            display: flex;
            align-items: center;
            gap: 5%;
            padding: 20px 0;
        }
        &__term{
            width: 25%;
            font-size: 1.5rem;
        }
        &__desc{
            width: 70%;
            font-size: 1.5rem;
        }
        &__map{
            width: 100%;
            height: 350px;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}