// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.about-involvement{
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 75%, rgba(249, 250, 242, 1) 75%);
    padding: 80px 0;
    &__box{
        width: 1080px;
        background: #ffffff;
        margin: -130px auto 0;
        padding: 50px 55px;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
        &::after{
            content: "";
            display: block;
            width: 177px;
            aspect-ratio: 177 / 134;
            background: url(../img/pages/top/business/leaf.png) no-repeat center / contain;
            position: absolute;
            bottom: -50px;
            right: -80px;
        }
    }
    &__title{
        align-items: center;
        margin-bottom: 35px;
    }
}

.about-involvement-support{
    display: flex;
    gap: 30px;
    &__img{
        width: 400px;
    }
    &__contents{
        width: 540px;
    }
    &__title{
        color: #2D7727;
        font-size: 2.2rem;
        font-weight: 700;
        border-bottom: 1px solid #6CA224;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.8;
        margin-bottom: 30px;
    }
}
// ==============================
// SP
// ==============================
@include sp{
    .about-involvement{
        padding: 40px 0;
        &__box{
            width: 90%;
            margin: -30px auto 0;
            padding: 30px 15px;
            position: relative;
            z-index: 10;
            &::after{
                width: 80px;
                aspect-ratio: 177 / 134;
                position: absolute;
                bottom: -30px;
                right: -20px
            }
        }
        &__title{
            align-items: center;
            margin-bottom: 35px;
        }
    }

    .about-involvement-support{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__img{
            width: 100%;
        }
        &__contents{
            width: 100%;
        }
        &__title{
            font-size: 1.8rem;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        &__text{
            font-size: 1.4rem;
            line-height: 1.6;
            margin-bottom: 30px;
        }
    }
}