// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.news-archive{
    background: url(../img/pages/news/archive/leaf.png) no-repeat top 30px right / 25%;
    padding: 100px 0;
    &__title{
        margin-bottom: 35px;
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__item{
        display: flex;
    }
    &__link{
        display: flex;
        gap: 30px;
        border-bottom: 1px solid #cccccc;
        padding: 30px 0;
        &:hover{
            opacity: 0.6;
        }
    }
    &__thumbnail{
        width: 150px;
        aspect-ratio: 1 / 1;
        background: url(../img/pages/news/archive/no-img.jpg) no-repeat center / cover;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0px rgba(51, 51, 51, 0.15);
    }
    &__contents{
        width: 900px;
    }
    &__wrapper{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 15px;
    }
    &__time{
        color: #6CA224;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
    }
    &__tags{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__tag{
        color: #6CA224;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1;
        border: 1px solid #6CA224;
        padding: 5px 10px;
        border-radius: 90px;
    }
    &__headline{
        color: #2D7727;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2;
        border-bottom: 1px solid #6CA224;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    &__text{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2;
    }
}
// ==============================
// SP
// ==============================
@include sp{
    .news-archive{
        padding: 50px 0;
        &__title{
            margin-bottom: 25px;
        }
        &__list{
            display: flex;
            flex-direction: column;
        }
        &__item{
            display: flex;
        }
        &__link{
            display: flex;
            align-items: flex-start;
            gap: 20px;
            padding: 30px 0;
        }
        &__thumbnail{
            width: 150px;
        }
        &__contents{
            width: 100%;
        }
        &__wrapper{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 15px;
        }
        &__time{
            font-size: 1.6rem;
        }
        &__tags{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &__tag{
            font-size: 1.2rem;
            letter-spacing: 0;
            padding: 2px 10px;
        }
        &__headline{
            font-size: 1.6rem;
            line-height: 1.5;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        &__text{
            font-size: 1.3rem;
            line-height: 1.4;
        }
    }
}