// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.notfound {
    &__inner{
        padding: 80px 0;
    }
    &__title{
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
        a{
        border-bottom: 1px solid #000000;
        }
    }
}

// ==============================
// SP
// ==============================
@include sp{
    .notfound {
        &__inner{
            padding: 50px 0;
        }
        &__title{
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 30px;
        }
        &__text{
        font-size: 1.5rem;
        text-align: center;
            a{
                border-bottom: 1px solid #000000;
            }
        }
    }
}