// base
@use '../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.drawer-off{
    &__button{
        position: fixed;
        top: 12px;
        right: 12px;
        width: 50px;
        height: 50px;
        background: #2D7727;
        border-radius: 8px;
        cursor: pointer;
        z-index: 999;
    }
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__line{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 8px;
        span{
            display: block;
            width: 30px;
            height: 1px;
            background: #ffffff;
        }
    }
    &__title{
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
}

.drawer-on{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    &.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    }
    &__inner{
        padding: 5px 15px;
        box-sizing: border-box;
    }
    &__logo{
        display: block;
        width: 200px;
        margin-bottom: 30px;
    }
    &__nav{
        margin-bottom: 30px;
    }
    &__item{
        a{
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 15px 0;
            border-bottom: 1px solid #cccccc;
        }
    }
    &__links{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 15px;
    }
    &__link{
        a{
            font-size: 1.4rem;
            font-weight: 500;
            border-bottom: 1px solid #cccccc;
            padding-bottom: 5px;
        }
    }
}

.drawer-mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #2D7727;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    i, span{
        color: #ffffff;
    }
    span{
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.drawer-tel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    padding: 10px 30px 20px;
    margin-bottom: 30px;
    &__link{
        display: flex;
        justify-content: center;
        align-items: self-end;
        gap: 5px;
        i, span{
            color: #2D7727;
        }
        i{
            margin-bottom: 8px;
        }
        span{
            font-size: 3.2rem;
            font-weight: 500;
        }
    }
    &__caption{
        display: block;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        background: #ffffff;
        padding: 5px;
    }
}

.drawer-sns{
    &__title{
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__list{
        display: flex;
        gap: 5%;
    }
    &__item{
        width: 10%;
    }
}


// ==============================
// SP
// ==============================