// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.contact-form{
    &__inner{
        padding: 80px 0;
    }
    &__title{
        margin-bottom: 50px;
    }
}

.complete{
    &__inner{
        padding: 80px 0;
    }
    &__title{
        text-align: center;
        margin-bottom: 30px;
    }
    &__text{
        text-align: center;
    }
    &__link{
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

// ==============================
// SP
// ==============================