// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.top-news{
    background: linear-gradient(90deg, rgba(249, 250, 242, 1) 45%, rgba(255, 255, 255, 1) 45%);
    padding: 80px 0 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 835px;
    }
    &__link{
        display: flex;
        align-items: center;
        gap: 30px;
        background: #ffffff;
        padding: 15px 30px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0px rgba(51, 51, 51, 0.15);
        &:hover{
            opacity: 0.6;
        }
    }
    &__time{
        color: #6CA224;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
    }
    &__headline{
        color: #2D7727;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__tags{
        display: flex;
        gap: 10px;
    }
    &__tag{
        color: #6CA224;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1;
        border: 1px solid #6CA224;
        padding: 5px 10px;
        border-radius: 90px;
    }
    &__button{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

// ==============================
// SP
// ==============================
@include sp{
    .top-news{
        padding: 40px 0;
        &__inner{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
        }
        &__title{
            margin-bottom: 20px;
        }
        &__list{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 35px;
        }
        &__link{
            display: flex;
            align-items: stretch;
            flex-direction: column;
            gap: 5px;
            padding: 15px;
        }
        &__time{
            width: 100%;
            font-size: 1.5rem;
        }
        &__headline{
            width: 100%;
            font-size: 1.5rem;
        }
        &__button{
            position: static;
            margin: 0 auto;
        }
    }
}