// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.top-other{
    &__list{
        display: flex;
    }
    &__item{
        width: 50%;
        position: relative;
        &--recruit{
            background: url(../img/pages/top/other/recruit.jpg) no-repeat center / cover;
        }
        &--company{
            background: url(../img/pages/top/other/company.jpg) no-repeat center / cover;
        }
    }
    &__link{
        display: block;
        width: 100%;
        height: 400px;
        padding: 10px;
        box-sizing: border-box;
    }
    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 1px solid #ffffff;
        border-radius: 8px;
    }
    &__button{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 370px;
    }
    &__title{
        .en .text, .ja{
            color: #ffffff;
            background: none !important;
                -webkit-background-clip: initial !important;
                background-clip: initial !important;
                -webkit-text-fill-color: #fff !important;
                text-fill-color: #fff !important;
        }
    }
}
// ==============================
// SP
// ==============================
@include sp{
    .top-other{
        &__list{
            display: flex;
            flex-direction: column;
        }
        &__item{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        &__link{
            display: block;
            width: 100%;
            height: 200px;
        }
        &__button{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 50%;
        }
        &__img{
            width: 35px;
        }
    }
}