// base
@use '../../base/base' as *;

// ==============================
// PC（共通）
// ==============================
.top-works{
    background: #F9FAF2;
    padding: 80px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__contents{
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 290px;
    }
    &__text{
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.8;
    }
    &__list{
        display: flex;
        gap: 2%;
        width: 75%;
    }
    &__item{
        width: 32%;
    }
    &__link{
        display: block;
    }
    &__thumbnail{
        width: 100%;
        aspect-ratio: 1 / 1;
        background: url(../img/pages/top/works/no-img.jpg) no-repeat center / cover;
        box-shadow: 0 4px 4px 0px rgba(51, 51, 51, 0.15);
        border-radius: 8px;
        margin-bottom: 15px;
    }
    &__headline{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3;
    }
}
// ==============================
// SP
// ==============================
@include sp{
    .top-works{
        padding: 30px 0;
        &__inner{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 35px;
        }
        &__contents{
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;
        }
        &__text{
            font-size: 1.5rem;
            line-height: 1.8;
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px 3%;
            width: 100%;
        }
        &__item{
            width: 48.5%;
        }
        &__link{
            display: block;
        }
        &__thumbnail{
            width: 100%;
            margin-bottom: 10px;
        }
        &__headline{
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
}